/*
==============================================
Deliverables Section Styles
==============================================
 */
#deliverables-section {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#deliverables-section .text-left.deliverables-side-label {
  position: relative;
  top: 50%;
}

#deliverables-section .text-center.deliverables-center-label {
  text-align: center;
}

#work-breakdown-structure-label {
  margin-bottom: 40px;
}

#work-breakdown-structure {
  width: 85%;
  height: auto;
  transition: box-shadow 0.4s ease-in-out;
}

#work-breakdown-structure:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-story-subheading {
  font-weight: bold;
}

#risk-matrix-label {
  margin-bottom: 40px;
}

#user-stories-label {
  margin-bottom: 40px;
}

#deliverables-section .row.deliverables-row {
  margin-top: 80px;
}

#risk-matrix {
  width: 65%;
  height: auto;
}

.risk-header {
  font-weight: 700;
}

#deliverables-section .deliverable-image {
  width: 100%;
  transition: box-shadow 0.4s ease-in-out;
}

#deliverables-section .deliverable-image:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  #deliverables-section .deliverable-image {
    padding-top: 80px;
  }
}

#deliverables-section .popup-image-link {
  width: 100%;
  cursor: zoom-in;
}

#deliverables-section iframe.presentation {
  margin-bottom: 50px;
  width: 100%;
}

.anchor-offset {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

/*
==============================================
Sidemenu Styles
==============================================
 */
.sidemenu {
  height: 80%;
  margin-top: 120px;
  margin-right: -20px;
  width: 10%;
  position: fixed;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f1f1;
  border: 1px solid rgba(0, 0, 0, .2);
}

@media (max-width: 1400px), (max-height: 480px) {
  .sidemenu {
    display: none;
  }
}

.sidemenu-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;
}

.sidemenu-item {
  height: 8vh;
  padding-left: 12px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.sidemenu-item.top {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.sidemenu-item:hover {
  background-color: rgb(68, 84, 105);
  transition: all 0.4s ease;
}

.sidemenu-item:hover .sidemenu-link {
  color: #f1f1f1;
  transition: all 0.1s ease;
}

.sidemenu-link {
  font-size: 0.8vw;
  color: rgb(68, 84, 105);
}

.sidemenu-content > .sidemenu-item > a {
  text-decoration: none;
}
