/*
==============================================
Deliverables Section Styles
==============================================
 */
#deliverables-section {
  margin-top: 0;
  padding-top: 20px;
  padding-bottom: 80px;
  min-height: 100vh;
}

.deliverables-container {
  width: 95vw;
  padding-right: 15px;
  padding-left: 15px;
}

.deliverables-center-label {
  text-align: center;
  margin-bottom: 40px;
}

.deliverable-centered {
  width: 70%;
  height: auto;
  transition: box-shadow 0.4s ease-in-out;
}

.deliverable-centered.ui-mockup {
  width: 70%;
}

.ui-mockups-row {
  margin-bottom: -40px;
}

.ui-mockup-column {
  margin-bottom: 40px;
}

.deliverable-centered:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-story-subheading {
  font-weight: bold;
}

.glossary-subheading {
  font-weight: bold;
}

.glossary-description {
  padding-left: 20px;
}

.row.deliverables-row {
  margin-top: 80px;
}

.row.deliverables-row.top {
  margin-top: 40px;
}

#risk-matrix {
  width: 65%;
  height: auto;
}

.risk-header {
  font-weight: 700;
}

.deliverable-full-width {
  width: 100%;
  height: auto;
}

.popup-image-link {
  width: 100%;
  cursor: zoom-in;
}

.anchor-offset {
  display: block;
  position: relative;
  visibility: hidden;
}

.anchor-offset.top {
  top: -80px;
}

#design-presentation-anchor {
  top: -160px;
}

#ui-mockups-anchor {
  margin-top: 80px;
}

iframe.presentation {
  width: 100%;
  height: 70vh;
}

/*
==============================================
Sidemenu Styles
==============================================
 */
.sidemenu {
  height: 80%;
  top: 13%;
  margin-right: -20px;
  width: 10%;
  position: fixed;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f1f1;
  border: 1px solid rgba(0, 0, 0, .2);
}

@include media-breakpoint-down(sm) {
  .sidemenu {
    display: none;
  }
}

.sidemenu-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;
}

.sidemenu-item {
  height: 5.6vh;
  min-height: 30px;
  padding-left: 12px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: all 0.4s ease;
}

.sidemenu-item.top {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.sidemenu-item:hover {
  background-color: rgb(68, 84, 105);
  transition: all 0.4s ease;
}

.sidemenu-item:hover .sidemenu-link {
  color: #f1f1f1;
  transition: all 0.1s ease;
}

.sidemenu-link {
  font-size: max(8px, 0.68vw);
  font-weight: bold;
  color: rgb(68, 84, 105);
  display: flex;
  align-items: center;
  flex: 1;
  transition: all 0.1s ease;
}

@media (max-height: 720px) {
  .sidemenu-link {
    font-size: max(7px, 0.65vw);
  }
}

.sidemenu-content > .sidemenu-item > a {
  text-decoration: none;
}
