/*
==============================================
Deliverables Section Styles
==============================================
 */
.container.deliverables-container {
  width: 90vw;
  padding-right: 15px;
  padding-left: 15px;
}

#deliverables-section {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#deliverables-section .text-left.deliverables-side-label {
  position: relative;
  top: 50%;
}

#deliverables-section .deliverables-center-label {
  text-align: center;
  margin-bottom: 40px;
}

.deliverable-centered {
  width: 85%;
  height: auto;
  transition: box-shadow 0.4s ease-in-out;
}

.deliverable-centered:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-story-subheading {
  font-weight: bold;
}

#deliverables-section .row.deliverables-row {
  margin-top: 80px;
}

#deliverables-section .row.deliverables-row.top {
  margin-top: 40px;
}

#risk-matrix {
  width: 65%;
  height: auto;
}

.risk-header {
  font-weight: 700;
}

#deliverables-section .deliverable-image {
  width: 100%;
  transition: box-shadow 0.4s ease-in-out;
}

#deliverables-section .deliverable-image:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  #deliverables-section .deliverable-image {
    padding-top: 80px;
  }
}

#deliverables-section .popup-image-link {
  width: 100%;
  cursor: zoom-in;
}

#deliverables-section iframe.presentation {
  margin-bottom: 50px;
  width: 100%;
}

.anchor-offset {
  display: block;
  position: relative;
  visibility: hidden;
}

#feasibility-presentation-v2.anchor-offset {
  top: -80px;
}

#feasibility-presentation-v1.anchor-offset {
  top: -80px;
}

#current-process-flow-diagram-anchor {
  top: -80px;
}

@include media-breakpoint-down(sm) {
  #sitemap li {
    font-size: 10px;
  }
  #sitemap ul {
    padding-left: 14px;
  }
}

/*
==============================================
Sidemenu Styles
==============================================
 */
.sidemenu {
  height: 80%;
  top: 13%;
  margin-right: -20px;
  width: 10%;
  position: fixed;
  right: 0;
  z-index: 1;
  overflow-x: hidden;
  background-color: #f1f1;
  border: 1px solid rgba(0, 0, 0, .2);
}

@include media-breakpoint-down(sm) {
  .sidemenu {
    display: none;
  }
}

.sidemenu-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding-right: 20px;
}

.sidemenu-item {
  height: 5.6vh;
  padding-left: 12px;
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  transition: all 0.4s ease;
}

.sidemenu-item.top {
  border-top: 1px solid rgba(0, 0, 0, .2);
}

.sidemenu-item:hover {
  background-color: rgb(68, 84, 105);
  transition: all 0.4s ease;
}

.sidemenu-item:hover .sidemenu-link {
  color: #f1f1f1;
  transition: all 0.1s ease;
}

.sidemenu-link {
  font-size: 0.68vw;
  font-weight: bold;
  color: rgb(68, 84, 105);
  display: flex;
  align-items: center;
  flex: 1;
  transition: all 0.1s ease;
}

@media (max-height: 720px){
  .sidemenu-link {
    font-size: 0.65vw;
  }
}

.sidemenu-content > .sidemenu-item > a {
  text-decoration: none;
}
