/*
==============================================
Glossary Styles
==============================================
 */
#glossary-section {
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 80px;
}

#glossary-section .glossary-container {
  width: 90vw;
  padding-right: 15px;
  padding-left: 15px;
}