/*
==============================================
Labs Section Styles
==============================================
 */

iframe.pdf {
  margin-bottom: 50px;
  width: 85%;
  height: 80vh;
}

.lab-button {
  display: inline-block;
  background-color: rgb(68, 84, 105);
  color: #f1f1f1;
  border: 2px solid rgb(68, 84, 105);
  border-radius: 2px;
  transition: all 0.4s ease;
  width: 80%;
  line-height: max(40px, 4vh);
}

.lab-button:hover {
  background-color: #f1f1f1;
  color: rgb(68, 84, 105);
  transition: all 0.4s ease;
  text-decoration: none;
}

#individual-labs {
  margin-top: 40px;
}
