/*
==============================================
Presentation Styles
==============================================
 */

iframe.presentation {
  margin-bottom: 50px;
  width: 100%;
}

#feasibility-presentation-v2.anchor-offset {
  top: -80px;
}

#feasibility-presentation-v1.anchor-offset {
  top: -80px;
}
