/*
==============================================
Deliverables Section Styles
==============================================
 */
#deliverables-section {
  margin-top: 0px;
  padding-top: 80px;
  padding-bottom: 80px;
}

#deliverables-section .text-left.deliverables-side-label {
  position: relative;
  top: 50%;
}

#deliverables-section .text-center.deliverables-center-label {
  text-align: center;
}

#work-breakdown-structure-label {
  margin-bottom: 40px;
}

#work-breakdown-structure {
  width: 85%;
  height: auto;
  transition: box-shadow 0.4s ease-in-out;
}

#work-breakdown-structure:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.user-story-subheading {
  font-weight: bold;
}

#risk-matrix-label {
  margin-bottom: 40px;
}

#user-stories-label {
  margin-bottom: 40px;
}

#deliverables-section .row.deliverables-row {
  margin-top: 80px;
}

#risk-matrix {
  width: 65%;
  height: auto;
}

.risk-header {
  font-weight: 700;
}

#deliverables-section .deliverable-image {
  width: 100%;
  transition: box-shadow 0.4s ease-in-out;
}

#deliverables-section .deliverable-image:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
  #deliverables-section .deliverable-image {
    padding-top: 80px;
  }
}

#deliverables-section .popup-image-link {
  width: 100%;
  cursor: zoom-in;
}

#deliverables-section iframe.presentation {
  margin-bottom: 50px;
  width: 100%;
}